@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300&subset=latin,latin-ext);


/* .body{
    background: #88e894
} */
  
.itemAmount{
    color: #e87185;
    text-align: right;
}
    
.addItem-form{
    
    width: 300px;
    height: 300px;
    margin: 30px auto;
    /* margin: 30px 30px 30px 30px; */
    
    border: solid 2px;
    position: absolute;
    left: 20%;

}
  
form{
    display:inline-block;
    color: #0a0716;
    margin: auto; 
    padding: 15px 15px, 15px, 15px;
    width:100px;
    height:50px;
    background-color: cadetblue;
    
      
}

   div{
    display: inline-block;
    margin-right: 10px;
    padding: 15px 15px, 15px, 15px;
  }
    
   /* 
  span{
    font-size: 1.3em;
    font-weight: 100;
    display: inline-block;
    width: 100px;
  }
    

.itemCategory{
    width: 50px;
}
  
  
#itemDate{
    width: 141px;
}
 
  
#itemAmount{
    width: 100px;
}*/
