@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}

header{
    top: 0;
    /* box-sizing: border-box; */
    /* position: -webkit-sticky; */
    position: sticky;
    width: 100%;
    padding: 3px 3px 3px 50px;
    color: white;
    background-color: #5fa2db;
    box-shadow: 0px 0px 20px 0px;
}

h1{
  text-align: left;
}

.fa-2x {
    font-size: 2em;
}
.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    font-size:20px;
}

.main-menu {
    background:#212121;
    border-right:1px solid #e5e5e5;
    position:fixed;
    top:92px;
    bottom:0;
    left:0;
    width:250px;
    height:550px;
}

.main-menu li>a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#999;
    font-family: arial;
    font-size: 14px;
    text-decoration:none;
}

.main-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
}

.main-menu .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff;
    background-color:#5fa2db;
}

nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
}

.main-menu ul ul {
    display: none;
}

.main-menu ul li:hover ul{
    display:block;
}
